body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

@keyframes init {
  0% {
      opacity:0;
    }
    100%{
      opacity:1; 
    }
}

@keyframes init-work {
  0% {
      opacity:0;
    }
    50%{
      opacity:0;
    }
    100%{
      opacity:1; 
    }
}


html {
  scroll-behavior: smooth;
}
.grid-container{
    display: grid;
    grid-template-areas:
        "hero"
        "content" 
        "footer";
}   
.header{
    grid-area: footer;
    display: grid;
    grid-template-areas: 
        "work about download-cv";
    background-color: #f5f5f5;
    position: sticky;
    bottom: 0;
    z-index: 100;
        font-family: 'Barlow';
}
/*-----HERO------*/
.hero{
    text-align: center;
    grid-area: hero;
    display: grid;
    align-items: center;
    grid-template-columns: min-height(300px);
    margin: 20px 20px 0px 20px;
    font-family: 'Barlow';
}
.hero img{
    grid-row: 1;
    background-color: white;
    margin: 0;
    padding: 0;
    width: 100%;
}
.hero .hero-text{
    grid-row:2;
    text-align: left;
    margin: 0;
    display: grid;
    grid-auto-rows: auto;
    align-items: center;
    line-height: 1.5;
}
.hero .hero-hi{
    font-size: 2em;
    padding:0;
    margin:  0;
    font-weight: bold;
    line-height: 1.25;
}
.hero .hero-descr{
    font-size: 2em;
    padding:0;
    margin: 0;
    font-weight: 300;
}
.hero .hero-more{  
    font-size: 1em;
    text-decoration: none;
    color: white;
    background-color: #2f4672;
    padding: 10px;
    margin: 20px 0 0 0;
    text-align: center;
}

/*----------------------*/
.composition{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 3%;
    margin: 0 10% 0 10%;
    background-color: #007ec6;

}
.composition-title{
    font-size: 0.8em;
    opacity: 1;
    font-weight: 700;
    padding: 5px 0 5px 0;
    color: white;
    
}
.composition-text{
    font-size: 0.7em;
    margin: 0 0 10px 0px;
    color:#e4edff;
}
.composition-block{
    grid-row:1;
    grid-column: 1;
    z-index: 90;
    text-align: left;
    padding: 10px;
}
.composition img{
    width: auto;
    height: 100%;
    grid-row:1;
    grid-column: 1;
    display: none;
    
}
.composition a{
    opacity: 0.8;
    color:white;
    text-decoration:none;
}
.composition a:hover{
    opacity: 1;
    text-decoration:underline;
    transition: 200ms;
}
/*----------------------*/
#comp-gover{
    background-color: #f9f9f9;
}
#comp-gover #objective{
    background-color: #f9f9f9;
}

#comp-gover .composition-title{
    color: black;
}
#comp-gover .composition-text{
    color: #454545;
}

#comp-gover a{
    opacity: 0.8;
    color:black;
    text-decoration:none;
}
#comp-gover a:hover{
    opacity: 1;
    text-decoration:underline;
    transition: 200ms;
}
/*----------------------*/
.recommendation{
    margin: 100px 20px 50px 20px;
}
.recommendation-text{
    padding: 20px;
    margin: 0;
    font-size: 0.8em;
    text-align: justify;
            background-color: #f9f9f9;
}
.recommendation-referal{
    padding: 10px 10px 0px 10px;
    margin:0;
    font-size: 0.8em;
    text-align:right;
    color: black;
    font-weight: bold;
    opacity: 0.5;
    background-color: white;
}
/*---------------*/
#name{
    display: none;
    text-decoration: none;
    color:black;
}

#name-mobile
{
    display: none;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0;
    padding-bottom: 0;
    text-decoration: none;
    color:black;

}
#name a
{
    text-decoration: none;
    color:black;

}
.page-link{
    line-height: 3;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    opacity: 0.6;
    text-decoration: none;
    border-radius: 5px;
}

#work-link{
    grid-area: work;
}
#about-link{
    grid-area: about;
}

#download-cv{
    line-height: 3;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    opacity: 0.6;
    text-decoration: none;
    border-radius: 0;
    color: #1a408b;
}

#download-cv:active{
    border: 1px solid #3e82ff;
}
.block-title{
    grid-area: block-title;
    line-height: 1;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    opacity: 0.3;
        font-family: 'Barlow';
}
.block-title{
    grid-area: block-title;
    line-height: 1;
    font-size: 2em;
    font-weight: 300;
    text-align: center;
    opacity: 0.3;
        font-family: 'Barlow';
}

#work{
    display:grid;
    grid-template-areas: 
        "block-title"
        "gover"
        "bus"
        "ships"
        "space"
        "player"
        "christmas"
        "cards";
    grid-row-gap:20px;
   /* justify-content: center;*/
    margin: 0 20px 0 20px;
    grid-column-gap: 0;

}

.project{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 72px auto;
    grid-template-rows: 36px 36px 36px auto;
    text-align: center;
    align-items: center;
    padding: 0;
    margin:0;
}

#bus{
    grid-area:  bus;
}
/*#space{
    grid-area:  spacelog; 
}
#cards{
    grid-area:  cards; 
}
#christmas{
    grid-area:  christmas; 
}
#ships{
    grid-area:  ships; 
}
#player{
    grid-area:  player; 
}*/



.project-icon{
    grid-column: 1;
    grid-row: 1/3;
    height: 72px;
    width: 72px;
    padding: 0;
    margin: 0;
}
.project-icon .special-icon{
    margin: 0;
    padding: 0;
    width: 72px;
    height: 72px;
    opacity: 0.2;
}
.project .project-tiles{
    width: 300px;
    height: 150px;
    margin: 0;
    padding: 10px 0 10px 0;
    grid-column: 1/3;
    grid-row: 3;
    display: none;
}

.project-title{
    grid-column: 2;
    grid-row:1;
    text-align: left;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    margin: 20px 0 0 10px;
}

.project-tags{
    grid-column: 2;
    grid-row:2;
    text-align: left;
    font-size: 0.5em;
    padding: 0;
    margin: 0 0 20px 10px;
    opacity: 0.4;
}
.project-descr-icon{
    width: 72px;
    height: 36px;
    grid-column: 1;
    grid-row:3;
}
.project-descr-icon img{
    width: 72px;
    height: 36px;
    opacity: 0.2;
}
.project-descr{
    grid-column: 2;
    grid-row:3;
    text-align: left;
    font-size: 0.6em;
    font-weight: 300;
    margin: 0 20px 0 10px;
}
.project-link{
    grid-column: 1/3;
    grid-row:4;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
    font-size: 0.6em;
    text-decoration: none;
    color:#3e6f7f;
    border: 2px solid #e0eef5;
   /* background-color: #e0eef5;*/
    padding: 10px 0 10px 0;
    margin: 10px 10px 10px 10px;

}
.project-link:hover{
    /*background-color: #a5c8d9; */
    border: 2px solid #c4ced3;
    transition: 200ms;
}





.small-project{
    background-color: #f9f9f9;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 25px 25px 25px;
    text-align: center;
    align-items: center;
}

.small-project .project-icon{
    grid-column: 1;
    grid-row: 1/4;
    width: 150px;
    height: 75px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-rows: auto;
}
.small-project .project-icon a{
    grid-row:1;
    grid-column: 1;
}
.small-project .project-icon .project-icon-img img{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 75px;
    opacity: 0;

}


.small-project .project-icon  .project-icon-img-svg img{
    margin: 0;
    padding: 0;
    width: 150px;
    height: 75px;
    opacity: 0.6;

}


.small-project .project-title{
    grid-column: 2;
    grid-row:1;
    text-align: left;
    font-size: 0.7em;
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0;
    margin: 10px 0 0 10px;
}

.small-project .project-tags{
    grid-column: 2;
    grid-row:2;
    text-align: left;
    font-size: 0.5em;
    padding: 0;
    margin: 0 0 10px 10px;
}
.small-project .project-link{
    grid-column: 2/3;
    grid-row:3;
    text-align: center;
    font-weight: bold;
    font-size: 0.5em;
    text-decoration: none;
    color:#3e6f7f;
    /*background-color: #c4e4f4;*/
    padding: 5px 0 5px 0;
    margin: 5px 10px 20px 10px;

    border: 1px solid #e0eef5;

}
.small-project .project-link:hover{
   /* background-color: #a5c8d9; */
    border: 1px solid #c4ced3;
    transition: 200ms;
}

.small-project .project-link::after{
    content: "";
    background-image: url("assets/link.svg") ;
    background-size: 100% auto;
    display: inline-block;
    width: 0.8em; 
    height: 0.8em;
    margin: 0 0 0 5px;
    padding: 0 0 0 0;
    opacity: 0.5;
}


#about{
    display:grid;
    grid-template-areas: 
        "block-title";
    padding: 0 10% 0 10%;
    margin: 0;
}

#contact{
    display:grid;

    justify-content: center;
    grid-template-areas: 
        "block-title"
        "email linkedin artstation behance";
}


.about-general{
    text-align: justify;
    font-size: 0.8em;
}    

.about-contacts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    grid-column-gap: 15px; 
    grid-row-gap: 15px;
    text-align: center;
    margin: 0 20px 0 20px;
}
.about-contacts a{
    text-decoration: none;
    font-size: 0.8em;
    padding: 10px 0 10px 0;
    margin: 0;
    color: black;
    margin: 0 0 50px 0;
    grid-column-gap: 0;
    border: 1px solid #e0eef5;

} 
.about-contacts a{
    text-decoration: none;
    font-size: 0.8em;
    padding: 10px 0 10px 0;
    margin: 0;
    color: black;
    margin: 0 0 50px 0;
    grid-column-gap: 0;
    border: 1px solid #e0eef5;

}    
.about-contacts a:hover{
    border: 1px solid grey;
    transition: 200ms;
}   
#contacts-title{
    text-align: center;
    padding: 0;
    font-size: 2em;
    font-weight: 300;
    padding: 20px 0 0 0;
}
#email{
    grid-column: 1/4;
    grid-row: 1;
    margin: 0;
    padding: 20px 0 20px 0;
    color:#1a408b;
    font-weight: 300;
}



/*---------------------------------------------------------*/
.read{
    display: grid;
    grid-template-columns: auto;
    grid-auto-rows: auto;
    padding: 0 10% 0 10%;
    margin: 0;
}
.read-block{
    display: grid;
    grid-template-rows: auto;
}
.read-head{
    grid-row:1;
    grid-column: 1;
    font-family: 'Barlow';
    font-size: 2em;
    text-align: center;
    font-weight: 700;
    padding: 40px;
    margin: 0;
}
.read-text{
    grid-row: 2;
    font-size: 1em;
    line-height: 1.5;
    text-align: justify;
}

.read-text ul{
    margin: 0 10px 0 10px;
    padding: 10px;
    list-style: url(assets/list-icon.svg);
}
.read-text li{
    line-height: 2;
}
.read-text img{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}
#problem{
    background-color: #007ec6;
    padding: 5%;
    margin: 0;
    color:#ffffff;
    font-size: 1.1em;
    font-family: "Barlow";
}

#objective .read-text ul{
    padding: 5%;
    margin: 0;

}
#flow{
    width: 100%;
    height: auto;
}
#wf{
       
}
#flow:hover{
    transition: 100ms;
}
#result-link{
    margin: 10px 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
    background-color: #007ec6;
    border: 1px solid #007ec6;
    text-decoration: none;
    color:white;
    font-weight: 700;
    font-size: 1.2em;
    padding: 15px 0 15px 0;
}
#result-link:hover{
    border: 1px solid grey;
    background-color: white;
    color:black;
    transition: 200ms;
}
#project-about{
    grid-column: 1/3;
}
.image-preview p{
    display: none;
}
/*----------------------*/
#read-gover #problem{
    background-color: #f9f9f9;
    color:black;
}
#read-gover #objective{
    border-top: 5px solid grey;
    border-bottom: 5px solid grey;
    padding:5%;
}
/*----------------------*/
#project-link-soon{
    opacity: 0.5;
}
/*---------------------------------------------------------*/

@media only screen and (min-width: 990px){
    body{
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;

    }

    .grid-container{
        display: grid;
        grid-template-rows: 90px 1fr;
        grid-template-areas: 
            "header" 
            "hero"
            "content";
    }
    .header{
        grid-area: header;
        display: grid;
        grid-template-columns: 20% auto 1fr 75px 75px auto 20%;
        grid-column-gap: 7px;
        line-height: 2;
        align-items: center;
        background-color: white;
        position: sticky;
        top:0;
        z-index: 100;
    }
    /*-----HERO------*/
    .hero{
        text-align: center;
        grid-area: hero;
        display: grid;
        grid-template-columns: 700px;
        grid-template-rows: 400px;
        justify-content: center;
        align-items:center;
        margin: 0;
        animation-name: init;
        animation-duration: 0.7s;
    }
    .hero .hero-text{
        grid-row:1;
        grid-column: 1;
    }
    .hero .hero-hi{
        font-size: 4em;
        padding:0;
        font-weight: bold;
        text-align: left;
    }
    .hero .hero-descr{

        font-size: 2em;
        padding:0;
        font-weight: 300;
        text-align: left;
    }
    .hero .hero-more{  
        font-size: 1em;
        text-decoration: none;
        color: white;
        background-color: #2f4672;
        padding: 20px;
        text-transform: uppercase;
        border: 1px solid #2f4672;
    }
    .hero .hero-more:hover{  
        transition: 200ms;
        background-color: white;
        border: 1px solid lightgrey;
        color:black;
    }
    /*---------------*/
    #name{
        grid-column: 2;
        display: block;
        font-size: 1.5em;
        font-weight: 400;
        text-align: center;
    }
    #name-global{
        display: none;
    }
    .page-link{
        text-align: center;
        font-size: 1em;
        font-weight: 300;
        opacity: 0.6;
        text-decoration: none;
        border-radius: 0px;
    }
    .page-link:hover{
        cursor: pointer;
        opacity: 1;
        border: 1px solid lightgrey;
    }
    .page-link:active{
        color: black;
        transition: 200ms;
        border: 1px solid grey;
    }
    #work-link{
        grid-column: 4;
    }
    #about-link{
        grid-column: 5;
    }
    #download-cv{

        grid-column: 6;
        margin: 0;
        padding: 0 10px 0 10px;
        text-decoration: none;
       /* background-color: #f9f9f9;*/
        border: 1px solid white;
        border-left: 1px solid #e2e2e2;
        text-align: center;
        font-size: 1em;
        font-weight: 400;
        color:#8296be;
    }
    #download-cv:hover{
  
        cursor: pointer;
        color: #003386;
        border-radius: 0px;
        border: 1px solid lightgrey;
        background-color: white;
    }

    #download-cv:active{
        border: 1px solid #3e82ff;
    }
    
    
    
    .content{
        animation-name: init;
        animation-duration: 0.7s;
    }
    
    .block-title{
        grid-area: block-title;
        font-size: 2em;
        font-weight: 300;
        text-align: center;
        opacity: 0.3;
        margin: 0;
    }
        
    .block-title a{
        padding-top: 40px;
        margin: 0;
    }
    
    
    
    #work{
        display:grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: auto;
        grid-gap:30px;
        grid-template-areas: 
            "block-title block-title"
            "gover bus"
            "ships space"
            "player christmas"
            "cards cards";
        justify-content: center;
        margin: 0;
            animation-name: init-work;
    animation-duration: 0.7s;   
    }

    


    .project{
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 90px 1fr;
        grid-template-rows: 45px 45px auto auto;
        text-align: center;
        align-items: center;
        margin: -32px 0 0 0;
    }

    .project-icon{
        grid-column: 1;
        grid-row: 1/3;
        height: auto;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .project-icon img{
        margin: 0;
        padding: 0;
        height: 90px;
        width: 90px;
        opacity: 0.2;

    }

    .project:hover .project-icon img{
        opacity: 0.5;
        transition:200ms;
    }    

    .project-title{
        grid-column: 2;
        grid-row:1;
        text-align: left;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0;
        margin: 20px 0 0 10px;
    }

    .project-tags{
        grid-column: 2;
        grid-row:2;
        text-align: left;
        font-size: 0.8em;
        padding: 0;
        margin: 0 0 20px 10px;
        opacity: 0.4;
    }
    
    .project .project-tiles{
        width: 500px;
        height: 250px;
        margin: 0;
        padding: 0 0 5px 0;
        grid-column: 1/3;
        grid-row: 3;
        display: block;
        opacity: 0.7;

    }
    
    .project:hover .project-tiles{
        opacity: 1;
        transition: 200ms;
    }
    .project-descr-icon{
        grid-column: 1;
        grid-row:4;
        width: 90px;
        height: 45px;
        margin: 0;
        padding: 0;

    }
    .project-descr-icon img{
        width: 90px;
        height: 45px;
        opacity: 0.2;
        margin:0;
        padding: 0;
    }
        
    .project:hover .project-descr-icon img{
        opacity: 0.5;
        transition: 200ms;
    }
    
    .project-descr{
        grid-column: 2;
        grid-row:4;
        text-align: left;
        font-size: 0.9em;
        font-weight: 300;
        margin: 0 20px 0 10px;
        padding: 5px 0 10px 0;
        line-height: 1.3;
    }
    .project-link{
        grid-column: 1/3;
        grid-row:5;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        text-decoration: none;
        color:#3e6f7f;
        /*background-color: #e0eef5;*/
        border: 1px solid #e0eef5;
        padding: 10px 0 10px 0;
        margin: 10px 20px 20px 20px;

    }
    .project-link:hover{
       /* background-color: #a5c8d9; */
        border: 1px solid #c4ced3;  
        transition: 200ms;
    }





    .small-project{
        background-color: #f9f9f9;
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px 50px 50px;
        text-align: center;
        align-items: center;
        margin: 0;
    }


    .small-project .project-icon{
        grid-column: 1;
        grid-row: 1/4;
        width: 300px;
        height: 150px;
        padding: 0;
        margin: 0;
    }
    .small-project .project-icon .project-icon-img img{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 150px;
        opacity: 0;

    }


    .small-project .project-icon  .project-icon-img-svg img{
        margin: 0;
        padding: 0;
        width: 300px;
        height: 150px;
        opacity: 0.2;

    }

    .small-project:hover .project-icon .project-icon-img img{
        opacity: 1;
        transition: 300ms;
    }


    .small-project:hover .project-icon .project-icon-img-svg img{
        opacity: 0;
        transition: 300ms;
    }

    .small-project .project-title{
        grid-column: 2;
        grid-row:1;
        text-align: left;
        font-size: 1.1em;
        text-transform: uppercase;
        font-weight: bolder;
        padding: 0;
        margin: 20px 0 0 10px;
    }

    .small-project .project-tags{
        grid-column: 2;
        grid-row:2;
        text-align: left;
        font-size: 0.8em;
        padding: 0;
        margin: 0 0 10px 10px;
    }
    .small-project .project-link{
        grid-column: 2/3;
        grid-row:3;
        text-align: center;
        font-weight: bold;
        font-size: 1em;
        text-decoration: none;
        color:#3e6f7f;
        /*background-color: #e0eef5;*/
        padding: 15px 0 15px 0;
        margin: 5px 10px 25px 10px;
  
        border: 1px solid #e0eef5;

    }
    .small-project .project-link:hover{
       /* background-color: #a5c8d9; */
        border: 1px solid #c4ced3;        
   
    }
    
    
    
    #about{
        display:grid;
        grid-template-columns: 700px;
        grid-template-rows: auto;
        margin: 0 0 0px 0;
        padding: 0;
        justify-content: center;
        grid-template-areas: 
            "block-title block-title"
            "about-content about-content";
        animation-name: init;
        animation-duration: 0.7s;
    }  
    
    
    .about-content{
        margin:0;
        padding: 0 0 0 0;
    }    
    .about-general{
        margin:0;
        padding: 0;
        line-height: 1.5;
        text-align: justify;
        margin:0;
        font-size: 1em;

    }
    .recommendation{

        
        animation-name: init-work;
        animation-duration: 0.7s;

    }
    .about-skill{
        padding-left: 20px;
        line-height: 1.7;
    }
    
    .about-contacts{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-auto-rows: auto;
        grid-column-gap: 15px; 
        grid-row-gap: 15px;
        text-align: center;
        margin: 30px 0 0 0;
    }
    .about-contacts a{
        text-decoration: none;
        font-size: 1.1em;
        padding: 10px 0 10px 0;
        margin: 0;
        color: black;
        margin: 0 0 50px 0;
        grid-column-gap: 0;
        border: 1px solid #e0eef5

    }    
    .about-contacts a:hover{
        border: 1px solid grey;
        transition: 200ms;
    }   
    #contacts-title{
        text-align: center;
        padding: 0;
        font-size: 2em;
        font-weight: 300;
        padding: 50px 0 0 0;
    }
    #email{
        grid-column: 1/4;
        grid-row: 1;
        margin: 0;
        padding: 20px 0 20px 0;
        color:#1a408b;
        font-weight: 300;
    }
    
    
    /*---------------------------------------------------------*/
    .read{
        padding: 0;
        margin: 0;
        grid-template-columns: 700px;
        justify-content: center;
        animation-name: init-work;
        animation-duration: 0.7s;
    }
    .read-block{
        display: grid;
        grid-template-rows: auto;
    }
    .read-head{

    }
    .read-text{
        grid-row: 2;
        font-size: 1em;
        padding: 0;
        line-height: 2;
        text-align: justify;
        margin: 0;
    }

    .read-text ul{
        margin: 0 30px 0 30px;
        padding: 0;
    }

    /*---------------------------------------------------------*/
    /*----------------------*/
    .composition{
        font-family: 'Barlow';
        margin: 0;
        text-align: left;
        grid-template-columns: 350px 350px;
        justify-content: center;
        align-items: center;
        padding: 0;
        font-size: 1.2em;        
       /* border-top: 5px solid grey;
        border-bottom: 5px solid grey;*/
        padding: 2%;
        animation-name: init;
        animation-duration: 0.7s;
        background-repeat: no-repeat;
        background-position: center;
    }       
    .composition img{
        display: block;
        grid-row: 1;
        grid-column: 1;
        width: 100%;
        height: 100%;
        opacity: 1;
        filter:blur(0);
    }
    .composition-block{
        grid-row: 1;
        grid-column: 2;

    }
    /*----------------------*/
    .image-preview{
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        justify-content: center;
        align-items: center;
        padding: 15px 0 15px 0;
    }
    .image-preview p{
        opacity: 0;
        grid-row: 1;
        grid-column: 1;
        text-align: center;
        z-index: 10;
        font-weight: 700;
        padding: 10px;
            display: block;
    }
    .image-preview a{
        grid-row: 1;
        grid-column: 1;
    }
    .image-preview:hover a{
        transition: 200ms;
        opacity: 0.2;
    }
    .image-preview:hover p{
        opacity: 1;
        transition: 200ms;
    }
}





/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/
/*---------------------------------*/













